@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    #43434313,
    #43434318 1px,
    #11111132 0,
    #11111137
  );
}

html::-webkit-scrollbar-thumb {
  background: #43434347;
  border-radius: 100px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.106),
    inset -2px -2px 2px rgba(0, 0, 0, 0.117);
}

html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.page-home {
  width: 100%;
  height: 700px;
  background-image: url(../img/bg_image_1.jpg);
}

.page-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 57, 57, 0.8);
  z-index: 3;
}

.navbar {
  top: 20px !important;
  background-color: rgba(104, 102, 102, 0.8);
}

.navbar .navbar-brand .nav-link {
  color: #fff;
}

.nav-link:hover {
  text-shadow: 0 0 10px #000;
}

.nav-link.active {
  color: #fff !important;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.btn-lang {
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px dashed transparent;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: 0.4s;
  background-color: #ef3724;
}

.btn-lang:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.menu-btn {
  border: 2px solid rgba(104, 102, 102, 0.8);
  font-size: 43px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: none;
  margin: 0 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.menu-btn:hover {
  background-color: rgba(62, 57, 57, 0.8);
}

@media (max-width: 768px) {
  .menu-btn {
    display: block !important;
  }

  .navbar-collapse,
  .btn-lang {
    display: none !important;
  }
}

.header-caption {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-caption h5 {
  color: #fff;
  font-size: 22px !important;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}

.header-caption h1 {
  color: #fff;
  font-size: 3rem !important;
  margin-bottom: 2.4rem !important;
  font-weight: 400 !important;
  line-height: 3rem !important;
}

.header-caption h1 span {
  color: #ef3724;
}

.badge {
  width: max-content;
  background-color: rgba(239, 56, 36, 0.2);
  margin-bottom: 10.5rem;
  color: #ef3724;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(23, 25, 37, 40%);
}

.floating-button {
  width: 25px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.floating-button div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin: 2px 0;
}

.vg-page {
  display: block;
  padding: 80px 0;
  width: 100%;
  overflow: hidden;
}

.page-about {
  background-color: #fff;
}

.img-place > img {
  width: 100%;
  height: auto;
}

.page-about .img-place::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 35px;
  border: 3px solid #ef3724;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-cap h1 {
  margin-bottom: 2.5rem !important;
}

.about-cap h5 {
  color: #ef3724;
}

.about-cap p {
  font-size: 1.1rem;
  font-weight: 450;
}

.theme-list {
  position: relative;
  padding-left: 30px;
  list-style: none;
  z-index: 100000;
}

.theme-list::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 1px;
  height: 85%;
  background-color: #000;
  /* z-index: -1; */
}

.theme-list li {
  display: block;
  margin: 5px 0;
}

.theme-list li::before {
  content: "";
  position: absolute;
  left: 3px;
  margin: 6px 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #ef3724;
  border-radius: 50%;
}

.about-btn {
  border: 2px solid #ef3724 !important;
  padding: 8px 25px !important;
  font-size: 1.2rem !important;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #ef3724;
  color: #fff;
}

.progress-wrapper {
  display: block;
  margin: 20px 0;
}

.progress {
  margin: 0.2rem 0;
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #ef3724;
  border-radius: 20px;
  padding: 5px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #000;
  text-align: center;
  background-color: #fff;
  width: 65%;
  border-radius: 20px;
  font-weight: 650;
}

.progress-bar2 {
  width: 75%;
}

.progress-bar3 {
  width: 35%;
}

.progress-bar4 {
  width: 50%;
}

.timeline {
  position: relative;
  display: block;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 95%;
  top: 0;
  left: 0;
  background-color: #e3e5e9;
}

.timeline li:first-child::before {
  background-color: #ef3724;
  box-shadow: 0 0 0 2px #ef3724;
}

.timeline li {
  position: relative;
  display: block;
  padding: 0 0 20px 30px;
}

.timeline li::before {
  content: "";
  position: absolute;
  /* top: 8px; */
  left: -10px;
  width: 18px;
  height: 18px;
  background-color: #747474;
  border: 3px solid #fff;
  border-radius: 50%;
}

.timeline li .title {
  width: 150px;
  padding: 6px 20px;
  background-color: #747474;
  color: #fff;
  font-weight: 700;
  border-radius: 30px 0 60px 30px;
}

.timeline li:first-child .title {
  background-color: #ef3724;
}

.timeline li .details {
  background-color: #f4f5f8;
  margin-top: 8px;
  padding: 20px;
  border-radius: 10px;
}

.timeline li .details small {
  font-weight: 900;
  margin: 8px 0 5px 0;
  color: #ef3724;
  font-style: 18px;
}

.page-service {
  background-color: #fff;
  color: #9fa2ab;
}

.badge-subhead {
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 10px 30px;
  background-color: rgba(239, 56, 36, 0.15);
  color: #ef3724 !important;
  text-shadow: none;
  font-weight: 900;
  font-size: 18px;
  transition: 0.3s;
}

.badge-subhead:hover {
  letter-spacing: 1px;
}

.card-servise {
  margin: 16px auto;
  background-color: #fff;
  border: none;
}

.card-servise .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: #f4f5f8;
}

.card-servise .icon span {
  font-size: 40px !important;
  color: #000 !important;
}

.card-servise .caption {
  margin: 16px;
  color: #747474;
}

.card-servise .caption h4 {
  color: #ef3724 !important;
  font-size: 18px;
}

.card-servise .caption p {
  font-size: 17px !important;
}

.page-funfact {
  padding: 100px;
  text-align: center;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-funfact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 36, 36, 0.7);
}

.filterable-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn-theme-outline {
  padding: 10px 30px;
  margin: 5px;
  height: unset;
  background-color: transparent;
  font-size: 17px !important;
  border: 1px solid #747474 !important;
  font-weight: 900 !important;
  border-radius: 40px !important;
}

.btn-theme-outline:hover {
  background-color: #747474;
  color: #fff;
}

.btn-theme-outline.select {
  background-color: #ef3724;
  border-color: #ef3724 !important;
  color: #fff;
}

.gridder {
  position: relative;
  display: block;
}

.gridder .grid-item {
  display: block;
  float: left;
  margin: 16px 0;
  padding: 0 16px;
  width: 100%;
}

.gridder .grid-item .img-place {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.gridder .grid-item .img-place .img-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 16px;
  background-color: #323131;
  color: #fff;
  z-index: 11;
}

.gridder .grid-item .img-place .img-caption p {
  font-size: 14px !important;
  font-weight: 600;
}

.btn-theme {
  padding: 10px 30px !important;
  margin: 5px auto !important;
  height: unset;
  font-weight: 400 !important;
  font-size: 18px !important;
  border-radius: 7px !important;
  transition: 0.4s;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
}

.btn-theme:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.page-client {
  color: #fff;
  background-color: #171925;
}

.page-client .row .item {
  padding: 60px 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #292e3b;
}

.page-client .img-place {
  width: 100px;
  height: 100px;
  transition: 0.3s;
  cursor: pointer;
}

.page-client .img-place:hover {
  transform: scale(1.2);
}

.page-client .img-place img {
  filter: grayscale(100%);
}

.page-client .img-place img:hover {
  filter: none;
}

.page-client .row:last-child .item {
  border-bottom: 0;
}

.page-client .row .item:first-child {
  border-left: 0;
}

.page-client .row .item:last-child {
  border-right: 0;
}

.page-blog {
  background-color: #fff;
}

.post-grid {
  justify-content: center;
}

.post-grid .card {
  margin: 2rem auto;
  max-width: 320px;
  background-color: #fff;
  transition: 0.4s;
  box-shadow: 0 4px 30px rgba(140, 152, 164, 0.7);
  cursor: pointer;
}

.post-grid .card:hover {
  border-radius: 10px;
  border: 1px solid #cdcdcd8e;
}

.post-grid .card:hover {
  box-shadow: none;
}

.post-grid .card .caption {
  padding: 20px 16px;
  text-align: left;
}

.post-grid .caption .post-category {
  font-weight: 600;
  color: #ef3724;
  margin-bottom: 5px;
  cursor: pointer;
}

.post-grid .caption .post-category:hover {
  letter-spacing: 2px;
  color: #777;
}

.post-grid .card .img-place img:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post-grid .caption .post-title {
  display: table-row;
  font-weight: 800;
  color: #6c727c;
  margin-bottom: 3px;
}

.post-grid .caption .post-date {
  font-size: 14px;
  color: #777;
}

.page-contact {
  background-color: #fff;
}

.vg-maps {
  margin-left: 20px;
  width: 90%;
  height: 320px;
  background-color: #f8f9fa;
}

.vg-contact-form {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 400px;
}

/* input:focus {
  border-color: rgb(141, 180, 211);
  background-color: rgb(133, 178, 214);
} */

.vg-footer {
  position: relative;
  display: block;
  margin: 0;
  padding: 50px 0;
  background-color: #171925;
  color: #9fadab;
}

.footer-info {
  max-width: 350px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  margin-bottom: 12px;
}

.list-unstyled li a {
  font-size: 1rem;
  color: #fff;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  font-size: 1rem !important;
}

.vg-footer .form-control {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #202334;
  color: #9fa2ab;
  border: 0 !important;
  width: 75%;
  border-radius: 4px 0 0 4px;
}

.vg-footer form .btn-theme {
  margin: 0 !important;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: none !important;
  border-radius: 0 4px 4px 0 !important;
  z-index: 9;
  background-color: #ef3724;
  width: 25%;
}

.vg-footer form .btn-theme:hover {
  background-color: #f68073;
}

.intro {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  height: 180px;
  background-color: #fff;
  z-index: 4944444444444444444444444444444444444;
  border-radius: 18px 0 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}

.intro i {
  padding: 10px;
  font-size: 27px;
  color: #313747;
  cursor: pointer;
  transition: 0.2s;
}

.intro i:hover {
  color: #9fa2ab;
}
