@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-6 {
    max-width: 50%;
  }
  .gridder .grid-item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
  .col-lg-4 {
    max-width: 33.33333%;
  }
  .col-lg-5 {
    max-width: 33.33333%;
  }
  .col-lg-6 {
    max-width: 50%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .px-lg-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .col-lg-3 {
    max-width: 25%;
  }
  .gridder .grid-item {
    max-width: 33.33333%;
  }
  .col-lg-7 {
    max-width: 66.666667%;
  }
  .pr-lg-0 {
    padding-right: 1rem;
  }
  .float-lg-right {
    float: right !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl-3 {
    max-width: 25%;
  }
}
